/*2018年8月2日18:32:07*/

html {
  background: url("../static/icon.ico") no-repeat top right / 2rem 2rem;
  background: tan,thistle,tomato,antiquewhite,chocolate,lightgoldenrodyellow,aquamarine,lavender,orange;
  background-clip: padding-box;
  
}