/*reset*/

html, body, h2 {
  margin: 0;
  padding: 0;
  background: url('../../static/mainBg.png') top center no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  user-select: none;
}
body {
  position: relative;
  overflow: hidden;
}

/*主体框架样式*/

.main_box {
  width: 998px;
  margin: 0 auto;
  /*background: tan;*/
  position: relative;
}

.title {
  position: relative;
}
/*模糊层图*/
.crystal {
  width: 442px;
  min-height: 276px;
  padding: 1px;
  border-radius: 10px;
  background: url('../../static/crystal.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
/*模糊层字*/
.crystal .vague {
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
  position: absolute;
  left: 44px;
  top: 44px;
  max-width: 326px;
  text-align: center;
  color: wheat;
  background: hsla(219, 39%, 34%, 0.47) border-box;
  z-index: 11;
}
.title h1 {
  position: absolute;
  right: 0;
  top: 0;
  font-family: '楷体';
  font-size: 60px;
  text-shadow: tan 4px 4px;
}

/*vedio*/
.dragonSong {
  position: fixed;
  bottom: -14px;
  right: -262px;
  /*width: 100vw;*/
  /*height: 60px;*/
}

.ana_box {
  position: relative;
}
.sjj {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 300px;
}

.sjj img {
  position: absolute;
  animation: sjja 5s infinite;
  left: 40px;
  top: 0;
}
@keyframes sjja {
  25% {
    transform: rotate(20deg);
    top: 20px;
    left: 20px;
  }
  50% {
    transform: rotate(0deg);
    top: 40px;
    left: 40px;
  }
  75% {
    transform: rotate(-20deg);
    top: 20px;
    left: 60px;
  }
  100% {
    transform: rotate(0);
    top: 0;
    left: 40px;
  }
}

.sjj2 {
  position: absolute;
  top: 70px;
  left: 100px;
  width: 200px;
  height: 400px;
}
.sjj2 img {
  position: absolute;
  width: 200px;
  height: 400px;
  animation: sjjb 5s infinite;
}
@keyframes sjjb {
  0% {
    transform: rotate(0deg);
    transform-origin: 66% 34%;
  }
  10% {
    transform: rotate(36deg);
    transform-origin: 66% 34%;
  }
  20% {
    transform: rotate(72deg);
    transform-origin: 66% 34%;
  }
  30% {
    transform: rotate(108deg);
    transform-origin: 66% 34%;
  }
  40% {
    transform: rotate(144deg);
    transform-origin: 66% 34%;
  }
  50% {
    transform: rotate(180deg);
    transform-origin: 66% 34%;
  }
  60% {
    transform: rotate(216deg);
    transform-origin: 66% 34%;
  }
  70% {
    transform: rotate(252deg);
    transform-origin: 66% 34%;
  }
  80% {
    transform: rotate(288deg);
    transform-origin: 66% 34%;
  }
  90% {
    transform: rotate(324deg);
    transform-origin: 66% 34%;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 66% 34%;
  }
}

/*svg*/
svg {
  width: 454px;
  height: 628px;
  margin-left: 600px;
  border: 1px solid tan;
}
